.idea
core/._.DS_Store
core/._ajax
core/._class
core/._config
core/._i18n
core/._php
core/i18n/
desktop/._.DS_Store
desktop/._js
desktop/._modal
desktop/._php
doc/.DS_Store
doc/images/.DS_Store
doc/images/logos/.DS_Store
ressources/.DS_Store
ressources/._.DS_Store
ressources/._.idea
ressources/._avrdude.conf
ressources/._avrdude.uno.cmd
ressources/arduidom.zip
ressources/*.hex
ressources/*.kill
ressources/*.pid
